.main{
    background-image: url("https://upload.wikimedia.org/wikipedia/he/7/77/%D7%A0%D7%94%D7%A8_%D7%91%D7%A9%D7%95%D7%95%D7%99%D7%99%D7%A5.JPG");
}



button{
    height: 100px;
    background-color: coral;
    border-radius: 50%;
}
label{
    font-size: 50px;

}
input{
    width: 400px;
    height: 50px;
    font-size: 40px;
}
